{% extends "layouts/base.html" %}

{% block title %} Songs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#"></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Songs</li>
              </ol>
          </nav>
          <h2 class="h4">All Songs</h2>
          <p class="mb-0">Songs Overview Page.</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
        
        
        

        <button hx-get="{% url 'add_song' %}" hx-target="#dialog" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
            <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
            Add a song
        </button>
        
        <div id="modal" class="modal fade" tabindex="-1">
            <div id="dialog" class="modal-dialog modal-dialog-centered" hx-target="this"></div>
        </div>

          <div class="btn-group ms-2 ms-lg-3">
              <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
              <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
          </div>
      </div>
  </div>




  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <tbody id="songs-list"
            hx-trigger="load"
            hx-get="{% url 'list_songs' %}" 
            hx-target="#songs-list"
            hx-swap="outerHTML">
        <!-- This could be blank or a loading indicator -->
        <tr><td colspan="5">Loading...</td></tr>
        </tbody>
    </table>
    
</div>

    
    
        
  
    

  

  
  {% comment %} <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
            <!-- Previous Page Link -->
            {% if pagination.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   hx-get="?page={{ pagination.current_page|add:-1 }}"
                   hx-target="#songs-list"
                   hx-swap="outerHTML">
                   Previous
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            {% endif %}

            <!-- Page Number Links -->
            {% for i in 1|to:pagination.total_pages %}
                {% if i == pagination.current_page %}
                <li class="page-item active">
                    <span class="page-link">{{ i }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link"
                       hx-get="?page={{ i }}"
                       hx-target="#songs-list"
                       hx-swap="outerHTML">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}

            <!-- Next Page Link -->
            {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link"
                   hx-get="?page={{ pagination.current_page|add:1 }}"
                   hx-target="#songs-list"
                   hx-swap="outerHTML">
                   Next
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="fw-normal small mt-4 mt-lg-0">
        Showing <b>{{ pagination.start_index }}</b> 
        to <b>{{ pagination.end_index }}</b> 
        out of <b>{{ pagination.total_items }}</b> entries
    </div>
</div> {% endcomment %}





  


  


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
